
apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-deployment
data:
  index.html: |
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the header */
    header {
      background-color: #366;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }

    /* Create two columns/boxes that floats next to each other */
    nav {
      float: left;
      width: 50%;
      height: 500px; /* only for demonstration, should be removed */
      background: #7cc;
      padding: 20px;
    }
    /* Style the list inside the menu */
    nav ul {
      list-style-type: none;
      font-size: 35px;
      padding: 0;
    }

    /* Style the list inside the menu */
    nav-admin ul {
      list-style-type: none;
      font-size: 35px;
      padding: 0;
    }

    article {
      float: left;
      padding: 20px;
      width: 100%;
      background-color: #f1f1f1;
      height: 300px; /* only for demonstration, should be removed */
      font-size: 25px;
    }

    /* Clear floats after the columns */
    section::after {
      content: "";
      display: table;
      clear: both;
    }

    /* Style the footer */
    footer {
      background-color: #366;
      padding: 10px;
      text-align: center;
      color: white;
    }

    /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    @media (max-width: 600px) {
      nav, article {
        width: 100%;
        height: auto;
      }
    }
    </style>
    </head>
    <body>
    <header>
      <h2>Welcome Home</h2>
    </header>

    <section>
      <nav>
        <ul>
          <h4>Apps</h4>
          <li><a href="http://{{ host_ip.stdout }}:30336/chores" target="_blank">Chores</a></li>
        </ul>
      </nav>

      <nav>
        <ul>
          <h4>Tools</h4>
          <li><a href="http://{{ host_ip.stdout }}:32000" target="_blank">Jenkins</a></li>
          <li><a href="http://{{ host_ip.stdout }}:30333/gui" target="_blank">uTorrent</a></li>
          <li><a href="http://{{ host_ip.stdout }}:30338" target="_blank">Nexus</a></li>
          <li><a href="http://{{ host_ip.stdout }}:30337" target="_blank">Handbrake</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <h4>Wikis</h4>
          <li><a href="http://{{ host_ip.stdout }}:30331" target="_blank">Wiki</a></li>
          <li><a href="http://{{ host_ip.stdout }}:30332" target="_blank">Wordpress</a></li>
        </ul>
      </nav>

      <nav>
        <ul>
          <h4>Admin</h4>
          <li><a href="https://{{ host_ip.stdout }}:32075" target="_blank">Dashboard</a></li>
          <li><a href="http://192.168.1.71/admin" target="_blank">Pi-hole</a></li>
        </ul>
      </nav>

        <article>
        <h1>Word of the day!</h1>
        <p>
          <script src="https://wordsmith.org/words/word3.js" type="text/javascript"></script
        </p>
      </article>
    </section>
    <footer>
      <p>HAVE A FANTASTIC DAY</p>
    </footer>
    </section>
    </body>
    </html>