---
apiVersion: v1
kind: Service
metadata:
  name: "{{ name}}"
  namespace: {{ namespace }}
spec:
  type: "{{ type }}"
  ports:
    - name: "{{ traffic }}"
      protocol: TCP
      port: {{ port }}
      targetPort: {{ targetport }}
{% if nodeport is defined %}
      nodePort: {{ nodeport }}
{% endif %}
  selector:
    app: "{{ app }}"