apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ name }}"
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ capacity }}"
  accessModes:
    - "{{ accessModes }}"
  hostPath:
    path: "{{ path }}"